<div class="row h-100 align-items-center">
  <div class="col-md-6 offset-md-3">
    <div class="card mt-5 mb-5 rounded-3 shadow-lg">
      <div class="card-body">
        <h2 class="card-title text-center mt-4">Update Season</h2>
        <form
          action="/seasons/<%= season.id %>"
          method="POST"
          class="container mt-5"
        >
          <div class="mb-3">
            <label for="season-name" class="form-label">Season Name</label>
            <input
              type="text"
              class="form-control"
              id="season-name"
              name="name"
              value="<%= season.name %>"
              required
            >
          </div>
          <div class="mb-3">
            <label for="season-year" class="form-label">Year</label>
            <input
              type="number"
              class="form-control"
              id="season-year"
              name="year"
              value="<%= season.year %>"
              required
            >
          </div>
          <div class="d-grid mb-3">
            <button type="submit" class="btn btn-danger">Update Season</button>
          </div>
        </form>
        <form
          action="/seasons/<%= season.id %>/delete"\
          method="POST"
          class="container"
        >
          <div class="d-grid mb-4">
            <button type="submit" class="btn btn-outline-danger">
              Delete Season
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>