<div class="row h-100 align-items-center">
  <div class="col-md-6 offset-md-3">
    <div class="card mt-5 mb-5 rounded-3 shadow-lg opacity-75">
      <div class="card-body text-center p-5">
        <h1 class="card-title text-center mt-4 mb-4 text-danger">Drag Realm</h1>
        <h3>
          Welcome to the main stage of my fabulous Express server!
        </h3>
      </div>
    </div>
  </div>
</div>